* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #2b1b72;
    padding: 20px;
    border: black 1.5px solid;
    align-content: center;
    position: relative;
    width: 100%;
    display: flex;
    gap: 20px;
}
.navbar {
    font-size: 18px;
    display: block; 
    white-space: nowrap; 
}
.navbar a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: rgb(187, 153, 153);
}
#content {
    margin: 15px;
    color: #FEF200;
}
.main{
    display: flex;
    gap: 20px;
}
.form{
    flex: 3;
}
.sidebar{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sidebar span{
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #ead289;
    transition: all 0.3s ease;
    margin-left: 30px;
}
.fulladd {
    display: flex;
    align-items: center;
}
.sidebar span.active {
    background-color: #555418;
    color:white;
    transform: scale(1.06);
}
.form-step {
    display: none;
    padding: 20px;
    border: 1px soid black;
    border-radius: 5px;
}
.form-step label {
    font-size: 20px;
    color: #FEF200;
}
.form-step.active{
    display: block;
}
input {
    margin: 10px 10px 5px 5px;
    background-color: #dce3df;
    border-radius: 4px;
    height: 35px;
    font-size: 15px;
    padding: 8px;
    transition: transform 0.2s ease;
}
input:hover {
    background-color: white;
    transform: scale(1.06);
}
#cc {
    width: 50px;
}
button{
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #F4D947;
    font-size: 15px;
    color: black;
    border: none;
    border-radius: 4px;
    transition: transform 0.4s ease;
}
button:hover {
    background-color: #EE8E13;
    transform: scale(1.1);
}
.pre-btn {
    background-color: #F4D947;
}
.prev-btn:hover {
    background-color: #d32f2f;
}
