* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #2b1b72;
    padding: 20px;
    border: black 1.5px solid;
    align-content: center;
    position: relative;
    width: 100%;
    display: flex;
    gap: 20px;
}
.navbar {
    font-size: 18px;
    display: block; 
    white-space: nowrap; 
}
.navbar a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: rgb(187, 153, 153);
}
#content {
    margin: 15px;
    color: #FEF200;
}
.boddy {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    border: 1px solid white;
    width: 500px;
    box-shadow: 0px 0px 20px rgba(255,255,255,0.5);
}
.main{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    width: 100%;
}
.form{
    flex: 3;
}
.sidebar{
    flex: 1;
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    margin: 0 20px;
    /* align-items: center; */
}
.sidebar .step{
    border-radius: 50%;
    cursor: pointer;
    background-color: #ead289;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}
.fulladd {
    display: flex;
    flex-direction: column;
}
.sidebar span.active {
    background-color: #7c7a0f;
    color:white;
}
.form-step {
    display: none;
    padding: 20px;
    border: 1px soid black;
    border-radius: 5px;
}
.form-step label {
    font-size: 20px;
    color: #FEF200;
    /* text-shadow: 0 0 20px rgba(255, 0, 0, 1); */
}
.form-step.active{
    display: flex;
    flex-direction: column;
}
input {
    margin: 10px 10px 5px 5px;
    background-color: #dce3df;
    border-radius: 4px;
    height: 35px;
    font-size: 15px;
    padding: 8px;
    transition: transform 0.2s ease;
}
input:hover {
    background-color: white;
    transform: scale(1.06);
}
#cc {
    width: 50px;
}
button{
    padding: 8px 16px;
    margin: 5px;
    width: 50%;
    height: 50%;
    cursor: pointer;
    background-color: #F4D947;
    font-size: 15px;
    color: black;
    border: none;
    border-radius: 4px;
    transition: transform 0.4s ease;
    /* transform-style: preserve-3d; */
}
.imp {
    color: red;
}
.btn {
    display: flex;
    justify-content: flex-end;
}
button:hover {
    background-color: #EE8E13;
    transform: scale(1.08);
}
.pre-btn {
    background-color: #F4D947;
}
.prev-btn:hover {
    background-color: #d32f2f;
}
.add_text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}